<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="/img/about.png" alt="Maggie">
					<h1>About Maggie!</h1>
					<p>I'm a senior Media Studies major at Mercer University's Center for Collaborative Journalism. I would like a career in television production. </p>
					
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
		
		<div class="row mt">
			<div class="col-lg-6">
				<h4>WHAT CAN I DO?</h4>
				<p>I really enjoy learning about new technology. The Adobe Suite is my favorite thing to work with and through my classes at Mercer and my job I have gained valuable experience with most products in Adobe. At work in the Academic and Technology Services Lab, I work with iMovie, Photoshop, and Audacity on a regular basis assisting students and faculty with projects. In class, I get hands-on experience working with Final Cut Pro X, Audobe Audition, and Adobe Premiere, as well as iMovie and Audacity.</p>
			</div><!-- /colg-lg-6 -->
			
			<div class="col-lg-6">
				<h4>THE SKILLS</h4>
				Adobe Premiere
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="90" style="width: 50%;">
						<span class="sr-only">85% Complete</span>
					</div>
				</div>

				Photoshop
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="80" style="width: 50%;">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				
				Final Cut Pro X
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="80" style="width: 50%;">
						<span class="sr-only">70% Complete</span>
					</div>
				</div>
                
                Adobe Audition
				<div class="progress">
					<div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
						<span class="sr-only">95% Complete</span>
					</div>
				</div>

			</div><!-- /col-lg-6 -->
		</div><!-- /row -->
	</div><!-- /container -->
	
