<!-- +++++ Welcome Section +++++ -->
	<div id="ww">
	    <div class="container">
            <center><img src="/img/user.png" alt="Maggie"></center>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
				<!--	<img src="/img/user.png" alt="Maggie">-->
					<h1>MAGGIE JOHNSON</h1>
					<p>Senior Media Studies student at Mercer University's Center for Collaborative Journalism.<hr>
                        Traveling. Music. NASCAR. 
                    </p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->
	
