<div id="ww">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 centered">
					<img src="assets/img/user.png" alt="Stanley">
					<h1>Hi, I'm Maggie!</h1>
					<p>Hi everyone. My name is Maggie Johnson and I am a Media Studies student at Mercer University's Center for Collaborative Journalism.</p>
				
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->